<nav>
    <div class="left">
        {{ partial "navlinks.html" (dict "menuID" "topnav-left" "page" .) }}
    </div>
    <div class="right">
        {{ partial "navlinks.html" (dict "menuID" "topnav-right" "page" .) }}
    </div>
</nav>
<h1>
    <a href="/">
        {{- with site.Params.logo | strings.TrimSpace }}
            <img alt="Logo" fetchpriority="high" src="{{ (resources.Get . | fingerprint).RelPermalink }}" />
        {{- end }}
        {{- site.Title }}
        {{- with site.Params.slogan }}
            <span>{{ . }}</span>
        {{- end }}
    </a>
</h1>
